
.email-list{
    display: flex;
    flex-direction: column;

}

.open-mail{
    width: 100%;
    text-decoration: none;
    color:black;
}


.delete-btn{
    cursor: pointer;
    background-color: rgb(228, 226, 226);
    border:1px solid rgb(222, 228, 228);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    
}

.unread-btn{
    cursor: pointer;
}


.delete-btn:hover{
    
}
