
.search-input{ 
position: relative;
margin: auto;
margin-bottom: 15px;
width: 100%;
max-width: 280px;
border-radius: 3px;
overflow: hidden;
box-shadow: inset 0 -1px 0 rgba(.3);
padding: 5px;
border-radius: 4px;
}

.hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

