@import "/css/apps/email/pages/email-app.cmp.css"; /* Using a string */
@import "/css/apps/email/cmps/email-list.cmp.css"; /* Using a string */
@import "/css/apps/email/cmps/email-preview.cmp.css"; /* Using a string */


/* Fonts */
@font-face {
    font-family: LatoLight;
    src: url(../../fonts/Lato/Lato-Light.ttf);
  }

  @font-face {
    font-family: LatoRegular;
    src: url(../../fonts/Lato/Lato-Regular.ttf);
  }
  @font-face {
    font-family: PTSansItalic;
    src: url(../../fonts/Pts/PTSans-Italic.ttf);
  }
  @font-face {
    font-family: PTSansRegular;
    src: url(../../fonts/Pts/PTSans-Regular.ttf);
  }
  @font-face {
    font-family: RobotoRegular;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
  }  @font-face {
    font-family: RobotoLight;
    src: url(../../fonts/Roboto/Roboto-Light.ttf);
  }
  @font-face {
    font-family: RobotoItalic;
    src: url(../../fonts/Roboto/Roboto-Italic.ttf);
  }
  


/* header */


* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family:LatoRegular ;
}

html {
    line-height: 1.5;
    font-size: 1.5rem;
    background-color: rgb(243 239 214);
}

li{
    list-style: none;
}

.main-app {
    margin: 0;
    height: 80vh;
}

.app-footer {
    height: 10vh;
}

.app-header {
    height: 10vh;
}